/**
 * @fileoverview SCSS Module Constants.
 * @copyright Shingo OKAWA 2021
 */
// Fonts
$font-size: 14px;
$font-color-logo: #080d79;
$font-color-highlight: #1890ff;

// Colors
$color-theme: #0a69dd;
$color-red: #e74c3c;
$color-green: #2ecc71;
$color-orange: #e67e22;
$color-black: #000000;
$color-white: #ffffff;
$color-off-white: #F6F9FC;
$color-grey-light: #EBECF0;
$color-grey-light-blue: #F6F8FA;
$color-grey-middle: #D4D4D4;
$color-grey-dark: #999999;
$color-grey-blue: #454d64;
$color-background-highlight: #e6f7ff;
$color-shadow: rgba(0, 0, 0, .15);
$color-icon: rgba(0,0,0,.65);
$color-icon-dark: rgba(0,0,0,.75);
$color-border: #ccd1d5;

// Animations
$duration: 0.1s;
$ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);

// Shapes
$border-radius: 4px;

// SNS
$button-color: #24292f;
$button-image: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);
$button-focus-bg-color: #e5e9ed;
$button-focus-bd-color: #c7cbcf;
$button-active-bd-color: rgba(27,31,36,.15);
$button-active-shadow: inset 0 0.15em 0.3em rgb(27 31 36 / 15%);

// Navigation
$navigation-header-icon-size: 16px;
$navigation-header-font-size: 16px;
$navigation-header-size: 30px;

// Icon
$icon-color-directory: #55aefc;
$icon-color-document: $color-orange;
$icon-color-application: $color-theme;

// Window
$window-color-size: #28c940;
$window-color-size-shadow: #1f9e32;
$window-color-close: #FA5753;
$window-color-close-shadow: #BC332F;
$window-color-menu: #0a69dd;
$window-color-menu-shadow: #0851aa;

// Z indices
$layer-0: 0;
$layer-1: 9;
$layer-2: 99;
$layer-3: 999;
$layer-4: 9999;
