/**
 * @fileoverview Scss Module for {App} component.
 * @copyright Shingo OKAWA 2021
 */
@import './constants.scss';

html, body {
  font-family: "Nunito Sans",
	       -apple-system,
	       ".SFNSText-Regular",
	       "San Francisco",
	       BlinkMacSystemFont,
	       "Segoe UI",
	       "Helvetica Neue",
	       Helvetica,Arial,sans-serif;
  font-size: $font-size;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: $color-black;
  -webkit-overflow-scrolling: touch;
  color: $color-black;
  background: $color-off-white;
//  * {
//      transition: color $duration $ease-in-out-circ,
//		  border-color $duration $ease-in-out-circ,
//		  background $duration $ease-in-out-circ,
//		  padding $duration $ease-in-out-circ;
//  }
}
