/**
 * @fileoverview Globsl SCSS Module.
 * @copyright Shingo OKAWA 2021
 */
@import './constants.scss';

html, body {
  font-family: Arial,
	       sans-serif;
  font-size: $font-size;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: $color-black;
  -webkit-overflow-scrolling: touch;
  color: $color-black;
  background: $color-off-white;
  * {
    // Placeholder.
  }
}
