/**
 * @fileoverview Scss Module for {Collapse} component.
 * @copyright Shingo OKAWA 2021
 */
@import '../constants.scss';

.hidden {
  display: none;
}
.collapse {
  color: $color-black;
  background: $color-white;
}
.header {
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 22px;
  padding: 16px 16px;
  cursor: pointer;
  &:hover {
    color: $font-color-highlight;
    .arrow {
      &:after, &:before {
        background-image: linear-gradient(90deg, $font-color-highlight, $font-color-highlight);
      }
    }
    .icon {
      color: $font-color-highlight;
    }
  }
  &:active {
    background: $color-background-highlight;
  }
}
.arrow {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 10px;
  &:after {
    transform: rotate(45deg) translateX(-2px);
  }
  &:before {
    transform: rotate(-45deg) translateX(2px);
  }
  &:after, &:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 1.5px;
    background: $color-white;
    background-image: linear-gradient(90deg, $color-icon, $color-icon);
    border-radius: 2px;
    box-sizing: border-box;
    transition: transform $duration $ease-in-out-circ;
  }
}
.icon {
  color: $color-icon;
  display: inline-block;
  margin-right: 10px;
}
.content {
  user-select: none;
  overflow: hidden;
  color: $color-grey-middle;
  padding-left: 16px;
  & > &-box {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.panel-active {
  & > .header {
    & > .arrow {
      &:after {
        transform: rotate(-45deg) translateX(-2px);
      }
      &:before {
        transform: rotate(45deg) translateX(2px);
      }
    }
  }
}
.panel-inactive {
  // dummy properties.
  min-width: 0;
  min-height: 0;
}
.collapsible-only {
  cursor: default;
  .text {
    cursor: pointer;
  }
}
.content-active {
  // dummy properties.
  min-width: 0;
  min-height: 0;
}
.content-inactive {
  // dummy properties.
  min-width: 0;
  min-height: 0;
}
