/**
 * @fileoverview SCSS Module for {Collapse} component.
 * @copyright Shingo OKAWA 2021
 */
@import '../constants.scss';

.hidden {
  display: none;
}
.collapse {
  * {
    transition: height $duration $ease-in-out-circ;
  }
}
.header {
  color: $color-grey-blue;
  cursor: pointer;
  font-size: $navigation-header-font-size;
  height: $navigation-header-size;
  line-height: $navigation-header-size;
  padding-bottom: calc($navigation-header-size / 4);
  padding-top: calc($navigation-header-size / 4);
  position: relative;
  user-select: none;
  &:hover {
    color: $font-color-highlight;
    .arrow {
      &:after, &:before {
        background-image: linear-gradient(90deg, $font-color-highlight, $font-color-highlight);
      }
    }
  }
  &:active {
    background: $color-background-highlight;
  }
}
.arrow {
  position: absolute;
  right: 16px;
  top: 50%;
  width: 10px;
  &:after {
    transform: rotate(45deg) translateX(-2px);
  }
  &:before {
    transform: rotate(-45deg) translateX(2px);
  }
  &:after, &:before {
    background-image: linear-gradient(90deg, $color-icon, $color-icon);
    border-radius: $border-radius;
    box-sizing: border-box;
    content: " ";
    height: 1.5px;
    position: absolute;
    transition: transform $duration $ease-in-out-circ;
    width: 6px;
  }
}
.icon {
  display: inline-block;
  font-size: $navigation-header-icon-size;
  height: $navigation-header-size;
  line-height: $navigation-header-size;
  padding-right: calc($navigation-header-icon-size / 2);
  text-align: center;
  width: $navigation-header-size;
  & > svg {
    width: $navigation-header-icon-size;
  }
}
.content {
  color: $color-grey-middle;
  overflow: hidden;
  padding-left: calc(3 * $navigation-header-icon-size / 2);
  user-select: none;
  & > &-box {
    margin-bottom: 16px;
    margin-top: 16px;
  }
}
.panel-active {
  & > .header {
    & > .arrow {
      &:after {
        transform: rotate(-45deg) translateX(-2px);
      }
      &:before {
        transform: rotate(45deg) translateX(2px);
      }
    }
  }
}
.panel-inactive {
  min-height: 0;
  min-width: 0;
}
.collapsible-only {
  cursor: default;
  .text {
    cursor: pointer;
  }
}
.content-active {
  min-height: 0;
  min-width: 0;
}
.content-inactive {
  min-height: 0;
  min-width: 0;
}
