/**
 * @fileoverview SCSS Module for {Collapse} component.
 * @copyright Shingo OKAWA 2021
 */
@import '../constants.scss';

.hidden {
  display: none;
}

.collapse * {
  transition: height $animation-ease-in-out-circ;
}

.header {
  color: $font-color;
  cursor: pointer;
  font-size: $font-size-l;
  position: relative;
  user-select: none;
  &:hover {
    color: $font-color-hover;
    .arrow {
      &:after, &:before {
        background-image: $icon-background-image-hover;
      }
    }
  }
  &:active {
    background: $font-color-highlight;
  }
}

.arrow {
  position: absolute;
  right: 16px;
  top: 50%;
  width: 10px;
  &:after {
    transform: rotate(45deg) translateX(-2px);
  }
  &:before {
    transform: rotate(-45deg) translateX(2px);
  }
  &:after, &:before {
    background-image: $icon-background-image;
    box-sizing: border-box;
    content: " ";
    height: 2px;
    position: absolute;
    transition: transform $animation-ease-in-out-circ;
    width: 6px;
  }
}

.icon {
  display: inline-block;
  font-size: $icon-size-m;
  height: $icon-wrapper-size-m;
  line-height: $icon-wrapper-size-m;
  padding-right: calc($icon-size-m / 2);
  text-align: center;
  width: $icon-wrapper-size-m;
}

.content {
  overflow: hidden;
  padding-left: $indent-size-m;
  user-select: none;
}

.panel-active > .header > .arrow {
  &:after {
    transform: rotate(-45deg) translateX(-2px);
  }
  &:before {
    transform: rotate(45deg) translateX(2px);
  }
}

.panel-inactive {
  @include placeholder();
}

.collapsible-only {
  cursor: default;
  .text {
    cursor: pointer;
  }
}

.content-active {
  @include placeholder();
}

.content-inactive {
  @include placeholder();
}
