/**
 * @fileoverview SCSS Module for {Scroll} utility functions.
 * @copyright Shingo OKAWA 2021
 */
@mixin selection {
  ::-moz-selection {
    @content; 
  }
  ::selection {
    @content; 
  }
}
.body {
  @include selection {
    all: inherit;
  }
}
.draggable {
  min-height: 0;
  min-width: 0;
}
.dragging {
  min-height: 0;
  min-width: 0;
}
.dragged {
  min-height: 0;
  min-width: 0;
}
