/**
 * @fileoverview SCSS Module for {Drawer} component.
 * @copyright Shingo OKAWA 2021
 */
@import '../constants.scss';

$handle-size: 40px;
$handle-offset: 80px;

.drawer {
  position: fixed;
  z-index: $layer-3;
}

.mask {
  background: black;
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity $animation-ease-in-out-circ, 
              height $animation-ease;
  width: 100%;
}

.wrapper {
  background: white;
  position: absolute;
}

.content {
  overflow: auto;
  position: relative;
}

.handle {
  align-items: center;
  background: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: $handle-size;
  justify-content: center;
  line-height: $handle-size;
  position: absolute;
  text-align: center;
  top: $handle-offset;
  width: $handle-size;
}

.icon {
  background: $font-color;
  height: 2px;
  position: relative;
  width: 14px;
  &:before, &:after {
    background: $color-icon;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: transform $animation-ease-in-out-circ;
    width: 100%;
  }
  &:before {
    top: -5px;
  }
  &:after {
    top: 5px;
  }
}

.left, .right {
  height: 100%;
  width: 0%;
  .wrapper, .content {
    height: 100%;
  }
  &.open {
    width: 100%;
    &.no-mask {
      width: 0%;
    }
  }
}

.left {
  left: 0;
  top: 0;
  .handle {
    border-radius: 0 $radius-size-m $radius-size-m 0;
    box-shadow: $shadow-right $shadow-outset;
    right: (-$handle-size);
  }
  &.open .wrapper {
    box-shadow: $shadow-right $shadow-outset;
  }
}

.right {
  right: 0;
  top: 0;
  .wrapper {
    right: 0;
  }
  .handle {
    border-radius: $radius-size-m 0 0 $radius-size-m;
    box-shadow: $shadow-left $shadow-outset;
    left: (-$handle-size);
  }
  &.open {
    .wrapper {
      box-shadow: $shadow-left $shadow-outset;
    }
    &.no-mask {
      right: 1px;
      transform: translateX(1px);
    }
  }
}

.top, .bottom {
  height: 0%;
  width: 100%;
  .wrapper, .content {
    width: 100%;
  }
  .content {
    height: 100%;
  }
  &.open {
    height: 100%;
    &.no-mask {
      height: 0%;
    }
  }
  .handle {
    left: 50%;
    margin-left: -20px;
  }
}

.top {
  left: 0;
  top: 0;
  .handle {
    border-radius: 0 0 $radius-size-m $radius-size-m;
    bottom: (-$handle-size);
    box-shadow: $shadow-bottom $shadow-outset;
    top: auto;
  }
  &.open {
    .wrapper {
      box-shadow: $shadow-bottom $shadow-outset;
    }
  }
}

.bottom {
  bottom: 0;
  left: 0;
  .wrapper {
    bottom: 0;
  }
  .handle {
    border-radius: $radius-size-m $radius-size-m 0 0;
    box-shadow: $shadow-top $shadow-outset;
    top: (-$handle-size);
  }
  &.open {
    .wrapper {
      box-shadow: $shadow-top $shadow-outset;
    }
    &.no-mask {
      bottom: 1px;
      transform: translateY(1px);
    }
  }
}


  &.open {
    transition: transform $animation-ease-in-out-circ;
    .mask {
      height: 100%;
      opacity: $opacity-l;
      transition: opacity $animation-ease-in-out-circ;
    }
    .handle {
      .icon {
	background: transparent;
	&:before {
          transform: translateY(5px) rotate(45deg);
	}
	&:after {
          transform: translateY(-5px) rotate(-45deg);
	}
      }
    }
  }
