/**
 * @fileoverview SCSS Module for {Drawer} component.
 * @copyright Shingo OKAWA 2021
 */
@import '../constants.scss';

.drawer {
  position: fixed;
  transition: width 0s ease $duration,
              height 0s ease $duration,
              transform $duration $ease-in-out-circ;
  z-index: $layer-3;
  >* {
    transition: transform $duration $ease-in-out-circ,
                opacity $duration $ease-in-out-circ,
                box-shadow $duration $ease-in-out-circ;
  }
  &.open {
    transition: transform $duration $ease-in-out-circ;
  }
  .mask {
    background: #000;
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity $duration $ease-in-out-circ, 
                height 0s ease $duration;
    width: 100%;
  }
}
.wrapper {
  background: $color-white;
  position: absolute;
}
.content {
  overflow: auto;
  position: relative;
  z-index: $layer-1;
}
.handle {
  align-items: center;
  background: $color-white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 40px;
  justify-content: center;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 72px;
  width: 41px;
  z-index: $layer-0;
}
.icon {
  background: $color-icon;
  height: 2px;
  position: relative;
  transition: background $duration $ease-in-out-circ;
  width: 14px;
  &:before, &:after {
    background: $color-icon;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: transform $duration $ease-in-out-circ;
    width: 100%;
  }
  &:before {
    top: -5px;
  }
  &:after {
    top: 5px;
  }
}
.left, .right {
  height: 100%;
  width: 0%;
  .wrapper, .content {
    height: 100%;
  }
  &.open {
    width: 100%;
    &.no-mask {
      width: 0%;
    }
  }
}
.left {
  left: 0;
  top: 0;
  .handle {
    border-radius: 0 $border-radius $border-radius 0;
    box-shadow: 2px 0 8px $color-shadow;
    right: -40px;
  }
  &.open {
    .wrapper {
      box-shadow: 2px 0 8px $color-shadow;
    }
  }
}
.right {
  right: 0;
  top: 0;
  .wrapper {
    right: 0;
  }
  .handle {
    border-radius: $border-radius 0 0 $border-radius;
    box-shadow: -2px 0 8px $color-shadow;
    left: -40px;
  }
  &.open {
    .wrapper {
      box-shadow: -2px 0 8px $color-shadow;
    }
    &.no-mask {
      right: 1px;
      transform: translateX(1px);
    }
  }
}
.top, .bottom {
  height: 0%;
  width: 100%;
  .wrapper, .content {
    width: 100%;
  }
  .content {
    height: 100%;
  }
  &.open {
    height: 100%;
    &.no-mask {
      height: 0%;
    }
  }
  .handle {
    left: 50%;
    margin-left: -20px;
  }
}
.top {
  left: 0;
  top: 0;
  .handle {
    border-radius: 0 0 $border-radius $border-radius;
    bottom: -40px;
    box-shadow: 0 2px 8px $color-shadow;
    top: auto;
  }
  &.open {
    .wrapper {
      box-shadow: 0 2px 8px $color-shadow;
    }
  }
}
.bottom {
  bottom: 0;
  left: 0;
  .wrapper {
    bottom: 0;
  }
  .handle {
    border-radius: $border-radius $border-radius 0 0;
    box-shadow: 0 -2px 8px $color-shadow;
    top: -40px;
  }
  &.open {
    .wrapper {
      box-shadow: 0 -2px 8px $color-shadow;
    }
    &.no-mask {
      bottom: 1px;
      transform: translateY(1px);
    }
  }
}
.open {
  .mask {
    height: 100%;
    opacity: .3;
    transition: opacity $duration $ease-in-out-circ;
  }
  .handle {
    .icon {
      background: transparent;
      &:before {
        transform: translateY(5px) rotate(45deg);
      }
      &:after {
        transform: translateY(-5px) rotate(-45deg);
      }
    }
  }
}
