/**
 * @fileoverview SCSS Module for {Forms} component.
 * @copyright Shingo OKAWA 2022
 */
@import '../constants.scss';

.toggle {
  display: inline-block;
  position: relative;
  text-align: left;
  user-select: none;
  vertical-align: middle;
  width: calc(2 * $form-size-m);
  * {
    transition: left $animation-ease-in-out-circ;
  }

  .input {
    display: none;
  }

  .label {
    border-radius: $form-size-m;
    cursor: pointer;
    display: block;
    overflow: hidden;
  }

  .left {
    display: block;
    width: 200%;
    margin-left: -100%;

    &:before, &:after {
      display: block;
      float: left;
      font-size: $form-size-m;
      height: $form-size-m;
      line-height: $form-size-m;
      width: 50%;
    }

    &:before {
      background-color: $form-color-active;
      content: " ";
    }

    &:after {
      background-color: $form-color-inactive;
      content: " ";
    }
  }

  &.disabled {
    background-color: $form-color-inactive;
    cursor: not-allowed;

    &:before {
      background-color: $form-color-inactive;
      cursor: not-allowed;
    }
  }

  .right {
    background: white;
    border-radius: calc($form-size-m - 2px);
    bottom: 0;
    display: block;
    margin: 2px;
    position: absolute;
    left: 0px;
    top: 0;
    width: calc($form-size-m - 2px);
  }

  .input:checked + .label {
    .left {
      margin-left: 0px;
    }
    .right {
	left: calc($form-size-m - 2px);
    }
  }
}

.text {
  align-items: center;
  background: white;
  border-radius: $icon-wrapper-size-m;
  border: $border-s;
  box-shadow: $shadow-all $shadow-inset;
  display: flex;
  height: $icon-wrapper-size-m;
  justify-content: center;

  .icon {
    float: left;
    font-size: $icon-size-m;
    height: $icon-wrapper-size-m;
    line-height: $icon-wrapper-size-m;
    margin-left: $spacing-size-s;
    text-align: center;
    width: $icon-wrapper-size-m;

    &.checked {
      color: $icon-color-green;
    }
  }

  .input {
    background: transparent;
    border: none;
    color: $font-color;
    flex-grow: 1;

    &:disabled {
      font-weight: bold;
    }

    &:focus {
      outline-width: 0;
    }
  }
  
  .toggle {
    float: right;
    margin-right: $spacing-size-s;
  }
}

.select {
  background-color: white;
  border-radius: $radius-size-m;
  border-spacing: 0px;
  border: $border-s;
  box-shadow: $shadow-all $shadow-inset;
//  font-family: 'FontAwesome', 'Second Font name';
  font-size: $font-size-l;
  margin: auto;
  overflow: auto;
  padding: $spacing-size-s;
  white-space: nowrap;
  width: 100%;

  .empty {
    color: $font-color-light;
    line-height: calc(3 * $icon-wrapper-size-m);
    min-height: calc(3 * $icon-wrapper-size-m);
    text-align: center;
    user-select: none;
  }

  .scroll {
    min-height: calc(3 * $icon-wrapper-size-m);
    border: none;
    outline:0px;
    width: 100%;
    float: left;
    font-size: $icon-size-s;
    user-select: none;

    & > option {
      color: $font-color-light;
      font-size: $font-size-s;
      margin: $spacing-size-xs;
    }

    & > option:hover, option:focus, option:active, option:checked {
      background: linear-gradient($font-color-highlight, $font-color-highlight);
      background-color: $font-color-highlight;
      color: $font-color-hover;
    }

    & > option:checked {
      font-weight: bold;
    }

    &:focus {
      border: none;
    }
  }
}
