/**
 * @fileoverview SCSS Module for {Forms} component.
 * @copyright Shingo OKAWA 2022
 */
@import '../constants.scss';

.toggle {
  display: inline-block;
  position: relative;
  text-align: left;
  user-select: none;
  vertical-align: middle;
  width: calc(2 * $form-size-m);
  * {
    transition: left $animation-ease-in-out-circ;
  }

  .checkbox {
    display: none;
  }

  .label {
    border-radius: $form-size-m;
    cursor: pointer;
    display: block;
    overflow: hidden;
  }

  .left {
    display: block;
    width: 200%;
    margin-left: -100%;

    &:before, &:after {
      display: block;
      float: left;
      font-size: $form-size-m;
      height: $form-size-m;
      line-height: $form-size-m;
      width: 50%;
    }

    &:before {
      background-color: $form-color-active;
      content: " ";
    }

    &:after {
      background-color: $form-color-inactive;
      content: " ";
    }
  }

  &.disabled {
    background-color: $form-color-inactive;
    cursor: not-allowed;

    &:before {
      background-color: $form-color-inactive;
      cursor: not-allowed;
    }
  }

  .right {
    background: white;
    border-radius: calc($form-size-m - 2px);
    bottom: 0;
    display: block;
    margin: 2px;
    position: absolute;
    left: 0px;
    top: 0;
    width: calc($form-size-m - 2px);
  }

  .checkbox:checked + .label {
    .left {
      margin-left: 0px;
    }
    .right {
	left: calc($form-size-m - 2px);
    }
  }
}
