/**
 * @fileoverview SCSS Module for {Modal} component.
 * @copyright Shingo OKAWA 2022
 */
@import '../constants.scss';

.portal {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.overlay {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: $layer-2;
  &.mask {
    background-color: #000;
    opacity: .1;
  }
}
.content {
  pointer-events: auto;
  position: relative;
  z-index: $layer-2;
  display: inline-block;
  &.tooltip {
    position: absolute;
  };
  &.modal {
    position: relative;
    display: table;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
  };
}
