/**
 * @fileoverview SCSS Module for {Players} component.
 * @copyright Shingo OKAWA 2022
 */
@import '../constants.scss';

.video {
  height: 256px;
  width: 256px;

  .display {
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}
