/**
 * @fileoverview SCSS Module for {Maintenance} containers.
 * @copyright Shingo OKAWA 2022
 */
@import '../constants.scss';

.wrapper {
  margin: auto;
  max-width: 600px;
}
.animation {
  animation: maintenance 2s ease-in infinite alternate;
  background-image: url("../../../../public/images/logo_box.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 120px auto;
  float: left;
  height: 120px;
  opacity: 0.2;
  position: relative;
  width: 120px;
  @keyframes maintenance {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }
}
.content {
  & h1 {
    color: $color-grey-blue;
    font-size: 2rem;
    font-weight: 900;
  }
  & p {
    color: $color-theme;
  }
  & footer {
    font-size: 1rem;
    color: $color-grey-blue;
  }
  & footer a {
    background: linear-gradient(
	to bottom,
	$font-color-highlight 0%,
	$font-color-highlight 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    color: rgba(7, 6, 0, 0.7);
    text-decoration: none;
  }
  & footer a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%231890ff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
  }
}
