/**
 * @fileoverview SCSS Module for {Maintenance} containers.
 * @copyright Shingo OKAWA 2022
 */
@import '../constants.scss';

.wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  margin: auto;
  max-width: 555px;
}

.animation {
  animation: $animation-blink;
  background-image: url("../../../../public/images/logo_box.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: $logo-size-m auto;
  float: left;
  height: $logo-size-m;
  opacity: $opacity-l;
  position: relative;
  width: $logo-size-m;
}

.content {
  & h1 {
    color: $font-color;
    font-size: $font-size-header;
  }

  & p {
    color: $font-color;
  }

  & footer {
    color: $font-color;
  }

  & footer a {
    @include link();
  }

  & footer a:hover {
    @include link-hover();
  }
}
