/**
 * @fileoverview SCSS Module for {Menu} containers.
 * @copyright Shingo OKAWA 2021
 */
@import '../constants.scss';

.header {
  z-index: 9999;
  overflow: hidden;
  top: 0;
  background-color: $color-theme;
  display: flex;
  align-items : center;
  justify-content: center;
  position: sticky;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.title {
  font-size: 1.2em;
  font-weight: bold;
  color: $color-white;
}
