/**
 * @fileoverview SCSS Module for {Menu} containers.
 * @copyright Shingo OKAWA 2022
 */
@import '../constants.scss';

.menu {
  background: white;
  border: $border-s;
  border-radius: $radius-size-m;
  box-shadow: $shadow-all $shadow-outset;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding-bottom: $spacing-size-s;
  padding-top: $spacing-size-s;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    right: calc($icon-size-m / 2);
    border: calc($icon-size-m / 2) solid transparent;
    border-top: none;
    border-bottom-color: $border-color;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    top: calc(-1 * ($icon-size-m / 2 - 1px));
    right: calc($icon-size-m / 2);
    border: calc($icon-size-m / 2) solid transparent;
    border-top: none;
    border-bottom-color: white;
  }

  .divider {
    display: block;
    height: 0;
    margin: 8px 0;
    border-top: $border-s;
  }

  .item {
    color: $font-color;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-l;
    margin-left: $indent-size-s;
    margin-right: $indent-size-s;
    position: relative;
    user-select: none;
    width: 100%;
    width: 100%;

    &:hover {
      color: $font-color-hover;
    }

    &:active {
      color: $font-color-active;
      background: $font-color-highlight;
    }

    .link {
      color: $font-color;
      text-decoration: none;
      width: 100%;
      display: inline-block;

      &:hover {
        color: $font-color-hover;
      }

      &:active {
        color: $font-color-active;
        background: $font-color-highlight;
      }
    }

    .icon {
      display: inline-block;
      font-size: $icon-size-m;
      height: $icon-wrapper-size-m;
      line-height: $icon-wrapper-size-m;
      padding-right: calc($icon-size-m / 2);
      text-align: center;
      width: $icon-wrapper-size-m;
    }
  }
}
