/**
 * @fileoverview SCSS Module for {Navigation} containers.
 * @copyright Shingo OKAWA 2022
 */
@import '../constants.scss';

.navigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  .header {
    justify-content: center;
    padding-bottom: 10px;
    text-align: center;
    .logo {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      width: 100%;
    }
    .title {
      color: $color-grey-blue;
      display: flex;
      font-size: 25px;
      font-weight: 800;
      justify-content: center;
      margin-bottom: 10px;
      width: 100%;
    }
    .buttons {
      display: flex;
      justify-content: center;
      width: 100%;
      .button {
        &:before{
	  display: inline-block; 
	  width: 5px;
          content: " "; 
	}
      }
      .coffee {
	background-image: $button-image;
	border-color: $color-border;
	border: 1px solid $color-border;
	border-radius: 0.25em;
	color: $button-color;
	cursor: pointer;
	display: inline-flex;
	font-size: 11px;
	font-weight: 600;
	height: 14px;
	outline: 0;
	padding: 2px 5px;
	user-select: none;
        text-decoration: none;
	&:hover, &:focus {
	  background-color: $button-focus-bg-color;
	  background-image: none;
	  border: 1px solid transparent;
	  border-color: $button-focus-bd-color;
	  filter: none;
          text-decoration: none;
	}
	&:active {
	  box-shadow: $button-active-shadow;
          border-color: $button-active-bd-color;
	}
	.img {
	  border: none;
	  box-shadow: none;
	  margin-right: 2px;
	  vertical-align: middle;
          margin-bottom: 1px;
	}
	.text {
          vertical-align: middle;
	}
      }
    }
  }
  .footer {
    color: $color-grey-middle;
    justify-content: center;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
  }
  .tree {
    flex: 1;
    font-size: 16px;
    overflow: auto;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    .item {
      color: $color-grey-blue;
      cursor: pointer;
      display: inline-block;
      position: relative;
      user-select: none;
      width: 100%;
      width: 100%;
	&:hover {
          color: $font-color-highlight;
	}
	&:active {
          background: $color-background-highlight;
	}
	&.selected {
          color: $font-color-highlight;
	  &:after {
	    content: "";
	    position: absolute;
	    top: 50%;
	    left: -10px;
	    margin-top: -2.5px;
	    display: inline-block;
	    width: 5px;
	    height: 5px;
	    background-color: $font-color-highlight;
	    border-radius: 50%;
	    opacity: 1;
	    transform: scale(1) translateX(0);
	  }
	}
	.link {
	  color: $color-grey-blue;
	  text-decoration: none;
	  width: 100%;
          display: inline-block;
	  &:hover {
            color: $font-color-highlight;
	  }
	  &:active {
            background: $color-background-highlight;
	  }
	  .icon {
	    display: inline-block;
	    font-size: $navigation-header-icon-size;
	    height: $navigation-header-size;
	    line-height: $navigation-header-size;
	    padding-right: calc($navigation-header-icon-size / 2);
	    text-align: center;
	    width: $navigation-header-size;
	  }
	}
	.icon {
	  display: inline-block;
	  font-size: $navigation-header-icon-size;
	  height: $navigation-header-size;
	  line-height: $navigation-header-size;
	  padding-right: calc($navigation-header-icon-size / 2);
	  text-align: center;
	  width: $navigation-header-size;
	}
    }
  }
}
