/**
 * @fileoverview SCSS Module for {Notification} component.
 * @copyright Shingo OKAWA 2022
 */
@import '../constants.scss';

.notification {
  box-sizing: border-box;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 10px;
  position: fixed;
  width: 320px;
  z-index: $layer-4;
  &.left {
    left: 0;
    top: 0;
  }
  &.right {
    right: 0;
    top: 0;
  }
  * {
    transition: transform $duration $ease-in-out-circ;
  }
}
.item {
  align-items : center;
  background-color: $color-grey-blue;
  border-radius: $border-radius;
  box-shadow: 0 1px 5px 0 $color-shadow;
  box-sizing: border-box;
  color: $color-white;
  cursor: pointer;
  display : flex;
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 15px;
  min-height: 55px;
  opacity: 0.9;
  padding: 15px 10px 15px 10px;
  position: relative;
  width: 300px;
  &:hover, &:focus {
    opacity: 1;
  }
  &.info {
    color: $color-white;
  }
  &.success {
    color: $color-green;
  }
  &.warning {
    color: $color-orange;
  }
  &.error {
    color: $color-red;
  }
  &.custom-icon {
  }
}
.icon {
  display: inline-block;
  float: left;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 20px;
}
.content {
  color: $color-grey-light-blue;
}
.title {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0 0 5px 0;
  width: 225px;
}
.close {
  color: $color-grey-light-blue;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
.message {
  width: 225px;
}
