/**
 * @fileoverview SCSS Module for {Notification} component.
 * @copyright Shingo OKAWA 2022
 */
@import '../constants.scss';

$width: 320px;

.notification {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: $spacing-size-s;
  padding-right: $spacing-size-s;
  position: fixed;
  width: $width;
  z-index: $z-layer-4;

  &.left {
    left: 0;
    top: 0;
  }

  &.right {
    right: 0;
    top: 0;
  }

  * {
    transition: transform $animation-ease-in-out-circ;
  }
}

.item {
  align-items : center;
  background-color: $font-color;
  border-radius: $radius-size-m;
  box-shadow: $shadow-all $shadow-outset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display : flex;
  font-size: $font-size-m;
  margin-top: $spacing-size-m;
  opacity: $opacity-h;
  padding: $spacing-size-m;

  &:hover, &:focus {
    opacity: $opacity-none;
  }

  &.info {
    color: $icon-color-blue;
  }

  &.success {
    color: $icon-color-green;
  }

  &.warning {
    color: $icon-color-orange;
  }

  &.error {
    color: $icon-color-red;
  }

  &.custom-icon {
  }
}

.icon {
  display: inline-block;
  float: left;
  font-size: $icon-size-xl;
  margin-right: $spacing-size-m;
}

.content {
  color: white;
}

.title {
  width: calc($width - 2 * $spacing-size-s - $icon-size-xl - 3 * $spacing-size-m);
}

.close {
  color: $font-color-light;
  float: right;
  cursor: pointer;
  opacity: $opacity-m;

  &:hover {
    opacity: $opacity-none;
  }
}

.message {
  width: calc($width - 2 * $spacing-size-s - $icon-size-xl - 3 * $spacing-size-m);
}
