/**
 * @fileoverview SCSS Module for {Pane} containers.
 * @copyright Shingo OKAWA 2021
 */
#left {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 1;
}
#right {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
}
#divider {
  cursor: col-resize;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  z-index: 10;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  opacity: 1;
  &:hover {
    background-image: radial-gradient(at center center,rgba(0,0,0,0.2) 0%,transparent 70%,transparent 100%);
    background-size: 50px 100%;
    background-position: 0 50%;
    background-repeat: no-repeat;
  }
}
