/**
 * @fileoverview SCSS Module for {Panel} containers.
 * @copyright Shingo OKAWA 2021
 */
@import '../constants.scss';

.panel{
  @include placeholder();
}

.left {
  box-sizing: border-box;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-layer-1;
}

.right {
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding-bottom: $spacing-size-m;
  padding-right: $spacing-size-m;
  padding-top: $spacing-size-m;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-layer-1;

  &.maximized {
    padding: 0;

    & > .window {
      border: none;
      border-radius: 0px;
    }
  }
}

.divider {
  display: block;
  cursor: col-resize;
  position: absolute;
  box-sizing: border-box;
  z-index: $z-layer-1;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 1;

  &:hover {
    background-image: radial-gradient(at center center,
				      rgba(0,0,0,0.3) 0%,
				      transparent 70%,
				      transparent 100%);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 50px 100%;
  }
}

.window {
  background: white;
  border-radius: $radius-size-m;
  border: $border-s;
  box-shadow: $shadow-all $shadow-outset;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.controller {
  background-color: $bar-color;
  border-bottom: $border-s;
  clear: both;
  display: table;
  vertical-align: middle;
  min-height: calc(2 * $font-size-m + $spacing-size-xs);
  overflow: hidden;
  padding-bottom: $spacing-size-xs;
  padding-top: $spacing-size-xs;
}

.pager {
  flex-grow: 1;
  overflow: scroll;
  padding-bottom: $spacing-size-m;
  padding-left: $spacing-size-l;
  padding-right: $spacing-size-l;
  padding-top: $spacing-size-m;
}

.button {
  color: $font-color;
  font-size: $font-size-l;

  &.wifi {
    float: left;
    margin-left: $spacing-size-m;
//    opacity: $opacity-h;

    &.connected {
      color: $icon-color-green;
    }
  }

  &.menu {
    cursor: pointer;
    float: right;
    margin-right: $spacing-size-m;
    opacity: $opacity-h;

    &.open {
      opacity: 1;
      color: $font-color-dark;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      color: $font-color-dark;
    }
  }

  &.maximize {
    color: $font-color;
    float: right;
    margin-right: $spacing-size-s;
    cursor: pointer;
    opacity: $opacity-h;

    &:hover {
      opacity: 1;
    }

    &:active {
      color: $font-color-dark;
    }
  }
}

.status {
  color: $font-color;
  font-size: $font-size-l;
//  font-weight: bold;
  float: left;
  margin-left: $spacing-size-s;
//  opacity: $opacity-h;
}
