/**
 * @fileoverview SCSS Module for {Panel} containers.
 * @copyright Shingo OKAWA 2021
 */
@import '../constants.scss';

.panel{
  min-height: 0px;
  min-width: 0px;
}
.left {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $layer-1;
}
.right {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $layer-1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  &.maximized {
    padding: 0;
    & > .window {
      border: none;
      border-radius: 0px;
    }
  }
}
.divider {
  display: block;
  cursor: col-resize;
  position: absolute;
  box-sizing: border-box;
  z-index: $layer-1;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 1;
  &:hover {
    background-image: radial-gradient(at center center,rgba(0,0,0,0.2) 0%,transparent 70%,transparent 100%);
    background-size: 50px 100%;
    background-position: 0 50%;
    background-repeat: no-repeat;
  }
}
.window {
  background: $color-white;
  border: 1px solid $color-grey-middle;
  border-radius: $border-radius;
  box-shadow: 0 1px 5px 0 $color-shadow;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.controller {
  border-bottom: 1px solid $color-grey-middle;
  min-height: 34px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  display: block;
  clear: both;
  background-color: $color-grey-light-blue;
}
.pager {
  flex-grow: 1;
  overflow: scroll;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
}
.button {
  color: $color-grey-blue;
  display: inline-block;
  font-size: 16px;
  &.wifi {
    float: left;
    margin-left: 10px;
  }
  &.menu {
    color: $color-grey-blue;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    &:active {
      color: $color-grey-blue-dark;
    }
  }
  &.maximize {
    color: $color-grey-blue;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    &:active {
      color: $color-grey-blue-dark;
    }
  }
}
