/**
 * @fileoverview SCSS Module for {Popups} containers.
 * @copyright Shingo OKAWA 2022
 */
@import '../constants.scss';

$min-width: 450px;
$width-s: 400px;
$width-m: 450px;
$width-l: 500px;

.window {
  background-color: $bar-color;
  border-radius: $radius-size-m;
  border: $border-s;
  box-shadow: $shadow-all $shadow-outset;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  min-width: $min-width;
  overflow: hidden;
  width: 100%;
}

.controller {
  background-color: $bar-color;
  clear: both;
  display: block;
  min-height: calc(2 * $font-size-m + $spacing-size-xs);
  overflow: hidden;
  padding-bottom: $spacing-size-xs;
  padding-top: $spacing-size-xs;

  .header {
    color: $font-color;
    display: inline-block;
    float: left;
    font-size: $font-size-l;
    margin-left: calc($spacing-size-s / 2);
    user-select: none;

    .icon {
      display: inline-block;
      font-size: $icon-size-m;
      height: $icon-wrapper-size-m;
      line-height: $icon-wrapper-size-m;
      padding-left: calc($icon-size-m / 2);
      padding-right: calc($icon-size-m / 2);
      text-align: center;
      width: $icon-wrapper-size-m;
    }
  }
}

.pager {
  flex-grow: 1;
  overflow: scroll;
  padding-bottom: $spacing-size-m;
  padding-left: $spacing-size-m;
  padding-right: $spacing-size-m;
}

.button {
  color: $font-color;
  display: inline-block;
  font-size: $icon-size-m;
  height: $icon-wrapper-size-m;
  line-height: $icon-wrapper-size-m;
  text-align: center;

  &.close {
    color: $font-color;
    cursor: pointer;
    float: right;
    margin-right: $spacing-size-s;
    opacity: $opacity-h;
    &:hover {
      opacity: 1;
    }
    &:active {
      color: $font-color-dark;
    }
  }
}

.about {
  color: $font-color;
  width: $width-m;

  .info {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: $spacing-size-m;
    padding-right: $spacing-size-m;
    width: 100%;

    .logo {
      display: flex;
      flex: 1;
      float: left;
      height: $logo-size-l;
      width: $logo-size-l;
    }

    .table {
      align-content: center;
      display: flex;
      flex-direction: column;
      flex: 2;
      height: $logo-size-m;
      justify-content: center;

      .item {
        color: $font-color;
	display: table;
	position: relative;
	width: 100%;
	width: 100%;

	.icon {
          display: table-cell;
	  font-size: $icon-size-m;
	  height: $icon-wrapper-size-m;
	  line-height: $icon-wrapper-size-m;
	  padding-right: calc($icon-size-m / 2);
	  text-align: center;
	  width: $icon-wrapper-size-m;
	}

	.value {
	  float: right;
	  & > a {
            @include link();
	  }
	  & > a:hover {
	    @include link-hover();
	  }
	}
      }
    }
  }

  .copyright {
    color: $font-color-nadir;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

.share {
  color: $font-color;
  width: $width-m;

  .comment {
    color: $font-color;
    font-size: $font-size-l;
    margin-bottom: $spacing-size-m;
    text-align: center;
  }

  .scroll {
    background-color: white;
    border-radius: $radius-size-m;
    border-spacing: 0px;
    border: $border-s;
    box-shadow: $shadow-all $shadow-inset;
    font-size: $font-size-l;
    margin: auto;
    overflow: auto;
    padding: $spacing-size-s;
    white-space: nowrap;
    width: 100%;

    .social {
      display: inline-block;
      margin-bottom: $spacing-size-s;
      margin-top: $spacing-size-s;
      width: $logo-size-m;

      .share-button {
	 display: block;
         margin: 0 auto;
      }

      .social-name {
	text-align: center;
      }
    }
  }
}

.settings {
  color: $font-color;
  width: $width-m;

  .error {
    color: $font-color-error;
    display: flex;
    font-size: $font-size-s;
    justify-content: center;
    padding: $spacing-size-s;
  }

  .divider {
    color: $font-color-light;
    font-size: $font-size-m;
    margin-bottom: $spacing-size-s;
  }
}
